2-Dimitryuk-A110/.vs/*
2-Dimitryuk-A110/Debug/*
2-Dimitryuk-A110/packages/*
2-Dimitryuk-A110/*.sln
2-Dimitryuk-A110/Task1.StringListConcat.UnitTesting/Debug/*
2-Dimitryuk-A110/Task1.StringListConcat.UnitTesting/*.config
2-Dimitryuk-A110/Task1.StringListConcat.UnitTesting/*.vcxproj*
